.custom-segmented {
    font-size: 14px;
    border-radius: 40px;
    background-color: #ffffff;
    border: 2px solid #d1d9e3;
    padding: 4px;

    :global {
        .ant-segmented-thumb {
            border-radius: 36px;
            padding: 2px;
            background-color: #ECF2FF;
            box-shadow: 0;
        }

        .ant-segmented-item-selected {
            border-radius: 100%;
            background-color: #ECF2FF;
            color: #265CD7;
        }
    }
}