.custom-segmented {
    :global(.ant-segmented-item) {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 20px;
        min-height: 36px;
    }

    :global(.ant-segmented-item-selected) {
        background-color: #265CD7;
        color: white;

        &:hover {
            background-color: #265CD7;
            color: white;
        }
    }

    :global(.ant-segmented-item:hover) {
        color: #265CD7;
    }
}
